.line{
    width: 100%;
    height: 1px;

    background-color: black;

    margin-top: 30px;
}

.photos{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}

.item_photo{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 20px;

    font-size: 25px;
}

.item_photo img{
    width: 100%;
    height: 100%;
}