.pagination{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.item-pag{
    width: 30px;
    height: 30px;

    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(37, 37, 37, 0.1);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
}

.no-data{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    margin-top: 30px;

    color: rgba(0, 0, 0, 0.7)
}


.no-data svg{
    font-size: 20px;
}