.container{
    width: 100%;
}

.home{
    width: 100vw;
    height: 100vh;

    background-image: url("../assets/bg_gradiant.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    padding: 0px 20px;
}

.modal-content{
    width: 100%;
    padding: 20px 0px;

    display: flex;
    gap: 30px;
}

/* .title{
    font-size: 1rem;
    text-align: center;

    margin-bottom: 15px;
    color: var(--font);
}

.card{
    background: var(--bg_card);
}

.checks{
    margin: 30px 0px;
    
}

.check{
    color: var(--font);
}

.passw{
    margin-bottom: 30px;
    position: relative;
}

.passw input{
    width: 100%;

    outline: none;
    border: 1px solid #58585a;

    padding: 5px 10px;
    padding-right: 27px;
}

.icon{
    position: absolute;

    right: 10px;
    top: 7px;

    cursor: pointer;
}

.icon:hover{
    opacity: 0.7;
} */

