.settings-modal{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-modal{
    width: 95%;
    background-color: #F5F5F5;

    font-weight: 600;

    display: flex;
    gap: 20px;
}

.header-modal span{
    cursor: pointer;
    padding: 5px 10px;
}

.header-modal span:hover{
    opacity: 0.8;
    background-color: rbga(0, 0, 0, 0.10);
}

.list-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-categorias{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-badge{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-list{
    display: flex;
    gap: 30px;
}

.buttons{
    width: 100%;
    display: flex;
    gap: 30px;

    justify-content: flex-end;
}


.edit-list-modal{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-edit-list-modal{
    font-weight: 700;
}

.content-edit-list-modal{
    display: flex;
    gap: 20px;
}