.container {
    max-width: 900px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.head {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    gap: 10px;
}


.input-head {
    width: 100%;

    outline: none;
    border: 1px solid #58585a;

    padding: 10px 10px;
    padding-right: 37px;
    border-radius: 6px;
    height: 40px;
}

.left{
    display: flex; 
    align-items: center; 
    gap: 30px;
}

.conter {
    position: absolute;
    right: 10px;
    bottom: 11px;
}


.divider::before {
    border-block-start-color: var(--bg_divider) !important;
}

.divider::after{
    border-block-start-color: var(--bg_divider) !important;
}

.divider span{
    color: var(--font);
    font-weight: 400;
}

.divider-list{
    background-color: var(--bg_divider);
}

.select-head{
    width: 150px;
}

.header-filter-theme{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.filter{
    display: flex;
    width: 100%;
    justify-content: flex-start;

    margin-top: -10px;
    padding-bottom: 10px;
}

.select-filter{
    width: 150px;
}

.p-filter{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    font-size: 0.85rem;
    margin: 0px;

}

.select{
    width: 100%;
    display: flex;
    gap: 20px;

    align-items: center;

    font-size: 1.2rem;

    color: var(--font);
}

.select svg{
    cursor: pointer;
}

.select svg:hover{
    opacity: 0.8;
}

.theme {
    cursor: pointer;
}


.list-todo {
    display: flex;
    flex-direction: column;
    gap: 20px;

    color: var(--font);
}

.input-categoria{
    width: 90%;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.no-data{
    color: var(--font);
    margin-top: 20px;

    text-align: center;
}

.check-list {
    width: 100%;
    display: flex;

    justify-content: space-between;

    position: relative;

    padding: 15px;
}

.check {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--font);
}

.more {
    font-size: 15px;

    cursor: pointer;
    padding: 3px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--font);
}


.card-absolut {
    position: absolute;

    width: 80px;
    top: -40px;
    right: 40px;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}



.checks {
    margin: 30px 0px;
}

.checkbox {
    width: 16px;
}

.card{
    background: var(--bg_card);
}

.title{
    font-size: 1rem;
    text-align: center;

    margin-bottom: 30px;

    color: var(--title);
}

.passw{
    margin-bottom: 5px;
    position: relative;
}

.passw input{
    width: 100%;

    outline: none;
    border: 1px solid #58585a;

    padding: 5px 10px;
    padding-right: 27px;
}

.check{
    width: 80%;
    padding: 0px 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.check span{
    width: 95%;
}

.icon{
    position: absolute;

    right: 10px;
    top: 7px;

    cursor: pointer;
}

.tag{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 670px){
    .check{
        width: 70%;
    }
}


@media screen and (max-width: 537px){
    .check{
        width: 60%;
    }

    .header-filter-theme{
        flex-direction: column;
        align-items: start;
    }

}

@media screen and (max-width: 433px){
    .check{
        width: 50%;
    }

    .select-head{
        width: 100px;
    }
}


@media screen and (max-width: 377px) {
    .select-head{
        width: 80px;
    }

    .left span{
        font-size: 0.75rem;
    }
    .left{
        gap: 10px;
    }
}