/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/lista/[slug]/styles/slugList.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.container-sluglist{
    width: 100%;

    margin-top: 30px;
}

.title{
    white-space: nowrap; /* Impede a quebra de texto em várias linhas */
    overflow: hidden;    /* Esconde o texto que não cabe na caixa */
    text-overflow: ellipsis;
}

.addTarefa{
    margin-top: 20px;

    width: 100%;

    padding: 10px 20px;
    
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgb(247, 247, 247);

    border-radius: 6px;
    font-weight: 400;
}

.line-slug{
    margin: 25px 0px;
    width: 100%;
    height: 1px;

    background-color: rgba(0, 0, 0, 0.1);
}

.list-todo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    margin-top: 20px;
    height: 100%;
    min-height: 360px;
}

.items{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-list{
    display: flex;
    align-items: center;
    gap: 10px;
}

.check-todo{
    cursor: pointer;
}

.title-todo{
    width: 100%;
    text-wrap: wrap;
}

.more{
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.more:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    cursor: pointer;
}

.form{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form input{
    border: 1px solid rgba(0, 0, 0, 0.3);

    padding: 10px;
    border-radius: 6px;
}

.form label{
    font-size: 14px;
}

.error{
    display: flex;
    gap: 5px;

    align-items: center;
    font-size: 14px;
    color: red;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/pagination.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.pagination{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.item-pag{
    width: 30px;
    height: 30px;

    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(37, 37, 37, 0.1);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
}

.no-data{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    margin-top: 30px;

    color: rgba(0, 0, 0, 0.7)
}


.no-data svg{
    font-size: 20px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/dropdown.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.dropdown{
    position: relative;
}

.item-drop{
    display: none;
    position: absolute;
    top: 105%;
    right: 0;

    flex-direction: column;
    gap: 10px;

    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    padding: 5px 10px;

    z-index: 999;
}

.drop-item{
    width: 100%;

    padding: 5px 10px;

    border-radius: 6px;

    cursor: pointer;
}

.drop-item:hover{
    opacity: 0.9;
}

.open{
    animation: open .1s ease;
    display: flex;
}

.close{
    animation: close .1s ease;
}

@keyframes open {
    0%{
        top: 80%;
        opacity: 0;
    }
    100%{
        top: 105%;
        opacity: 1;
        display: flex;
    }
}

@keyframes close {
    0%{
        top: 105%;
        opacity: 1;
        display: flex;
    }
    100%{
        top: 80%;
        opacity: 0;
        display: none;
    }
}
/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/modal.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.mask{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modal{
    position: absolute;
    top: 20px;
    background-color: #fff;
    border-radius: 6px;

    width: 400px;

    display: none;
    flex-direction: column;
    gap: 20px;

    left: 50%;
    transform: translateX(-50%);

    z-index: 1001;
}

.content-modal{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: relative;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;

    cursor: pointer;
}

.close:hover{
    opacity: 0.7;
}

.footer{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.back{
    padding: 7px 20px;
    border: 1px solid black;
    background: none;

    border-radius: 6px;
    cursor: pointer;
}

.ok{
    padding: 7px 20px;
    border: none;
    background: green;
    color: white;

    border-radius: 6px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ok:hover, .back:hover{
    opacity: 0.7;
}

.open-modal{
    animation: open-modal .1s ease;
    display: flex;
}

.close-modal{
    animation: close-modal .1s ease;
}

@keyframes open-modal {
    0%{
        top: 5px;
        opacity: 0;
    }
    100%{
        top: 20px;
        opacity: 1;
        display: flex;
    }
}

@keyframes close-modal {
    0%{
        top: 20px;
        opacity: 1;
        display: flex;
    }
    100%{
        top: 5px;
        opacity: 0;
        display: none;
    }
}

